In [ ]:
import duckdb

In [ ]:
con = duckdb.connect(database="dados_duckdb.db", read_only=False) #estabelecendo a conexão

In [ ]:
df = con.execute("SELECT * FROM produtos").fetchdf()
df.head(10) 

# recuperação dos dados que criamos     
# Para ver o resultado colocamos dentro de um data frame (df) e passamos a função --> fetchdf

In [ ]:
# Criamos uma dimensão na camada GOLD

df2 = df.drop(columns=['id_categoria', 'id_fornecedor'])
df2.head(10)

In [ ]:
con.execute("""
            CREATE TABLE IF NOT EXISTS dim_produtos(
            id_produto BIGINT,
            nm_produto TEXT,
            vl_produto Float
                     )
       """)

In [ ]:
df2.head(10)  # confirmando com está a nossa tabela

In [ ]:
con.execute("INSERT INTO dim_produtos SELECT * FROM df2")

In [ ]:
df_dim = con.execute("SELECT * FROM dim_produtos").fetchdf()
df_dim.head(10)

In [11]:
con.close()